.idea/*
*.iml
*.pyc
.DS_Store
.vagrant.v1*
.tags*
/.gradle/
/out/
/build/
.jira-url
/test/
/.terraform/
/build_cassandra.sh*
/copy_provisioning_resources.sh*
/create_provisioning_resources.sh
/parallel_ssh.sh*
/hosts.txt
/known_hosts
/provisioning/
/seeds.txt
/stress_ips.txt
/terraform.tf.json
/terraform.tfstate
/terraform.tfvars
/terraform.tfstate.backup
/DockerfileSSH*
/DockerfileCassandra_*
