.idea/*
*.iml
*.pyc
.DS_Store
.vagrant.v1*
.tags*
/.gradle/
/out/
/build/
.jira-url
/test/
/.terraform/
/Dockerfile
/DockerfileCassandra
/DockerfileSSH
/build_cassandra.sh
/copy_provisioning_resources.sh
/create_provisioning_resources.sh
/provision_cassandra.sh
/docker-compose.yml
/hosts.txt
/known_hosts
/provisioning/
/seeds.txt
/stress_ips.txt
/terraform.tf.json
/terraform.tfstate
/terraform.tfvars
/terraform.tfstate.backup
