.idea/*
*.iml
*.pyc
.DS_Store
.vagrant.v1*
.tags*
/.gradle/
/out/
build/
.jira-url
/test/
/.terraform*
/build_cassandra.sh*
/copy_provisioning_resources.sh*
/create_provisioning_resources.sh
/parallel_ssh.sh*
/hosts.txt
/known_hosts
/provisioning/
/seeds.txt
/stress_ips.txt
/terraform.tf.json
/terraform.tfstate
/terraform.tfvars
/terraform.tfstate.backup
logs/
sshConfig
/scripts
logs


# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

# End of https://www.gitignore.io/api/eclipse
src/main/resources/com/thelastpickle/tlpcluster/instances/importers/instances.json
/prometheus.yml
/env.sh
/artifacts
tlp-cluster.ipr
tlp-cluster.iws

/prometheus_labels.yml
/src/main/dashboards/
