[Unit]
Description=Stargate is an open source data gateway that sits between your app and your databases.
Requires=Network.target
After=Network.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
RestartSec=1
User=ubuntu
WorkingDirectory=/var/lib/stargate
ExecStartPre=/usr/bin/env source /etc/profile.d/environment.sh
ExecStart=/usr/bin/env starctl --cluster-seed $SEED_HOST --cluster-name "$CLUSTER_NAME" --cluster-version "$CASSANDRA_VERSION" --listen $(curl http://169.254.169.254/latest/meta-data/local-ipv4) &>/var/log/stargate.log

[Install]
WantedBy=multi-user.target